<html>
    <head>

    </head>
    <body>
        <button id="quizzes">Get Quizzes</button>
        <button id="users">Get Users</button>
        <div id="quiz-view">
            
        </div>
        <div id="user-view">

        </div>
        <script src="/assets/js/admin/dashboard.js"></script>
    </body>
</html>