<html>
<head>
    <title>Admin Page | VITLUG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <form id="admin-signin">
        <input id="username" placeholder="Username">
        <input id="password" placeholder="Password" type="password">
        <button type="submit">Submit</button>
    </form>
    <span id="error"></span>
    <script src="/assets/js/admin/admin.js"></script>
</body>
</html>