<html>
    <head>
        
    </head>
    <body>
        <div>
            <div id="username"></div>
            <div id="regno"></div>
            <div id="submitted"></div>
            <div id="quiz"></div>
        </div>
        <div>
            <input id="enter-grade" placeholder="Enter grade">
            <button id="grade">Submit grade</button>
        </div>
        <script src="/assets/js/admin/checking.js"></script>
    </body>
</html>